.center-text {
  text-align: center;
}
.left-text {
  text-align: left;
}
.right-text {
  text-align: right;
}
@media print {
  * {
    text-shadow: none !important;
    color: #000 !important;
    background: transparent !important;
    box-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
  select {
    background: #fff !important;
  }
  .navbar {
    display: none;
  }
  .table td,
  .table th {
    background-color: #fff !important;
  }
  .btn > .caret,
  .dropup > .btn > .caret {
    border-top-color: #000 !important;
  }
  .label {
    border: 1px solid #000;
  }
  .table {
    border-collapse: collapse !important;
  }
  .table-bordered th,
  .table-bordered td {
    border: 1px solid #ddd !important;
  }
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
.col-xs-pull-12 {
  right: 100%;
}
.col-xs-pull-11 {
  right: 91.66666667%;
}
.col-xs-pull-10 {
  right: 83.33333333%;
}
.col-xs-pull-9 {
  right: 75%;
}
.col-xs-pull-8 {
  right: 66.66666667%;
}
.col-xs-pull-7 {
  right: 58.33333333%;
}
.col-xs-pull-6 {
  right: 50%;
}
.col-xs-pull-5 {
  right: 41.66666667%;
}
.col-xs-pull-4 {
  right: 33.33333333%;
}
.col-xs-pull-3 {
  right: 25%;
}
.col-xs-pull-2 {
  right: 16.66666667%;
}
.col-xs-pull-1 {
  right: 8.33333333%;
}
.col-xs-pull-0 {
  right: 0%;
}
.col-xs-push-12 {
  left: 100%;
}
.col-xs-push-11 {
  left: 91.66666667%;
}
.col-xs-push-10 {
  left: 83.33333333%;
}
.col-xs-push-9 {
  left: 75%;
}
.col-xs-push-8 {
  left: 66.66666667%;
}
.col-xs-push-7 {
  left: 58.33333333%;
}
.col-xs-push-6 {
  left: 50%;
}
.col-xs-push-5 {
  left: 41.66666667%;
}
.col-xs-push-4 {
  left: 33.33333333%;
}
.col-xs-push-3 {
  left: 25%;
}
.col-xs-push-2 {
  left: 16.66666667%;
}
.col-xs-push-1 {
  left: 8.33333333%;
}
.col-xs-push-0 {
  left: 0%;
}
.col-xs-offset-12 {
  margin-left: 100%;
}
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.col-xs-offset-9 {
  margin-left: 75%;
}
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.col-xs-offset-6 {
  margin-left: 50%;
}
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.col-xs-offset-3 {
  margin-left: 25%;
}
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.col-xs-offset-0 {
  margin-left: 0%;
}
@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .col-sm-pull-0 {
    right: 0%;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-push-11 {
    left: 91.66666667%;
  }
  .col-sm-push-10 {
    left: 83.33333333%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-8 {
    left: 66.66666667%;
  }
  .col-sm-push-7 {
    left: 58.33333333%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-5 {
    left: 41.66666667%;
  }
  .col-sm-push-4 {
    left: 33.33333333%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-2 {
    left: 16.66666667%;
  }
  .col-sm-push-1 {
    left: 8.33333333%;
  }
  .col-sm-push-0 {
    left: 0%;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-pull-11 {
    right: 91.66666667%;
  }
  .col-md-pull-10 {
    right: 83.33333333%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-8 {
    right: 66.66666667%;
  }
  .col-md-pull-7 {
    right: 58.33333333%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-5 {
    right: 41.66666667%;
  }
  .col-md-pull-4 {
    right: 33.33333333%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-2 {
    right: 16.66666667%;
  }
  .col-md-pull-1 {
    right: 8.33333333%;
  }
  .col-md-pull-0 {
    right: 0%;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-push-11 {
    left: 91.66666667%;
  }
  .col-md-push-10 {
    left: 83.33333333%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-8 {
    left: 66.66666667%;
  }
  .col-md-push-7 {
    left: 58.33333333%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-5 {
    left: 41.66666667%;
  }
  .col-md-push-4 {
    left: 33.33333333%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-2 {
    left: 16.66666667%;
  }
  .col-md-push-1 {
    left: 8.33333333%;
  }
  .col-md-push-0 {
    left: 0%;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-lg-pull-12 {
    right: 100%;
  }
  .col-lg-pull-11 {
    right: 91.66666667%;
  }
  .col-lg-pull-10 {
    right: 83.33333333%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-8 {
    right: 66.66666667%;
  }
  .col-lg-pull-7 {
    right: 58.33333333%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-5 {
    right: 41.66666667%;
  }
  .col-lg-pull-4 {
    right: 33.33333333%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-2 {
    right: 16.66666667%;
  }
  .col-lg-pull-1 {
    right: 8.33333333%;
  }
  .col-lg-pull-0 {
    right: 0%;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-push-11 {
    left: 91.66666667%;
  }
  .col-lg-push-10 {
    left: 83.33333333%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-8 {
    left: 66.66666667%;
  }
  .col-lg-push-7 {
    left: 58.33333333%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-5 {
    left: 41.66666667%;
  }
  .col-lg-push-4 {
    left: 33.33333333%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-2 {
    left: 16.66666667%;
  }
  .col-lg-push-1 {
    left: 8.33333333%;
  }
  .col-lg-push-0 {
    left: 0%;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-lg-offset-0 {
    margin-left: 0%;
  }
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.hidden {
  display: none !important;
  visibility: hidden !important;
}
.affix {
  position: fixed;
}
@-ms-viewport {
  width: device-width;
}
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important;
}
@media (max-width: 767px) {
  .visible-xs {
    display: block !important;
  }
  table.visible-xs {
    display: table;
  }
  tr.visible-xs {
    display: table-row !important;
  }
  th.visible-xs,
  td.visible-xs {
    display: table-cell !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important;
  }
  table.visible-sm {
    display: table;
  }
  tr.visible-sm {
    display: table-row !important;
  }
  th.visible-sm,
  td.visible-sm {
    display: table-cell !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important;
  }
  table.visible-md {
    display: table;
  }
  tr.visible-md {
    display: table-row !important;
  }
  th.visible-md,
  td.visible-md {
    display: table-cell !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg {
    display: block !important;
  }
  table.visible-lg {
    display: table;
  }
  tr.visible-lg {
    display: table-row !important;
  }
  th.visible-lg,
  td.visible-lg {
    display: table-cell !important;
  }
}
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}
.visible-print {
  display: none !important;
}
@media print {
  .visible-print {
    display: block !important;
  }
  table.visible-print {
    display: table;
  }
  tr.visible-print {
    display: table-row !important;
  }
  th.visible-print,
  td.visible-print {
    display: table-cell !important;
  }
}
@media print {
  .hidden-print {
    display: none !important;
  }
}
/*Colourz*/
/*
@red: #FB7968;
@tan: #F9C593;
@green: #B0D1B2;
@blue: #89B2A2;
@white: #FAFAD4;
*/
/*Fontz*/
/*Paddingz & Marginz*/
/*Nav*/
.body-1 {
  font-family: 'Quicksand', 'helvetica-neue', 'helvetica', sans-serif;
  font-size: 20px;
  color: #666666;
}
.body-2 {
  font-family: 'Quicksand', 'helvetica-neue', 'helvetica', sans-serif;
  font-size: 16px;
  color: #666666;
}
.headline-1 {
  font-family: 'Cookie', cursive;
  font-size: 60px;
  color: #45aab8;
  text-shadow: 2px 2px 0px #ed834e;
}
.headline-2 {
  font-family: 'Quicksand', 'helvetica-neue', 'helvetica', sans-serif;
  font-size: 48px;
  color: #faf4b1;
  text-shadow: 2px 2px 0px #45aab8;
}
.headline-3 {
  font-family: 'Quicksand', 'helvetica-neue', 'helvetica', sans-serif;
  font-size: 28px;
  color: #45aab8;
  font-weight: 400;
  margin-bottom: 20px;
}
.headline-4 {
  font-family: 'Quicksand', 'helvetica-neue', 'helvetica', sans-serif;
  font-size: 24px;
  color: #45aab8;
  font-weight: 400;
  margin: 10px 0;
}
/*The basics*/
*::-moz-selection {
  background: #FFF;
}
*::selection {
  background: #FFF;
}
a {
  color: #ed834e;
  text-decoration: none;
}
a:hover {
  background: #ffe545;
}
html {
  background: #ffe545;
  font-family: 'Quicksand', 'helvetica-neue', 'helvetica', sans-serif;
  font-size: 20px;
  color: #666666;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*Wrapper*/
.biggie-smalls {
  margin-left: -15px;
  margin-right: -15px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.content-wrapper {
  margin-top: 200px;
}
/*Headlines*/
.section-headline {
  font-family: 'Quicksand', 'helvetica-neue', 'helvetica', sans-serif;
  font-size: 48px;
  color: #faf4b1;
  text-shadow: 2px 2px 0px #45aab8;
  text-align: center;
}
.section-subheadline {
  font-family: 'Quicksand', 'helvetica-neue', 'helvetica', sans-serif;
  font-size: 28px;
  color: #45aab8;
  font-weight: 400;
  margin-bottom: 20px;
  text-align: center;
  font-style: italic;
  margin: 40px 0;
}
h3 {
  font-family: 'Quicksand', 'helvetica-neue', 'helvetica', sans-serif;
  font-size: 28px;
  color: #45aab8;
  font-weight: 400;
  margin-bottom: 20px;
}
p {
  margin-bottom: 20px;
  line-height: 1.4;
}
header {
  background: #faf4b1;
  position: fixed;
  width: 100%;
  height: 110px;
  left: 0;
  top: 0;
  z-index: 99;
}
header:before,
header:after {
  content: " ";
  display: table;
}
header:after {
  clear: both;
}
header:before,
header:after {
  content: " ";
  display: table;
}
header:after {
  clear: both;
}
header .logo {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  line-height: .55;
  margin-top: 10px;
  font-family: 'Cookie', cursive;
  font-size: 60px;
  color: #45aab8;
  text-shadow: 2px 2px 0px #ed834e;
}
@media (min-width: 992px) {
  header .logo {
    float: left;
    width: 100%;
  }
}
header #whopper {
  position: absolute;
  top: 20px;
  left: 20px;
  display: none !important;
}
@media (min-width: 768px) and (max-width: 991px) {
  header #whopper {
    display: block !important;
  }
  tableheader #whopper {
    display: table;
  }
  trheader #whopper {
    display: table-row !important;
  }
  thheader #whopper,
  tdheader #whopper {
    display: table-cell !important;
  }
}
@media (max-width: 767px) {
  header #whopper {
    display: block !important;
  }
  tableheader #whopper {
    display: table;
  }
  trheader #whopper {
    display: table-row !important;
  }
  thheader #whopper,
  tdheader #whopper {
    display: table-cell !important;
  }
}
header nav {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 20px;
}
@media (min-width: 992px) {
  header nav {
    float: left;
    width: 100%;
  }
}
header nav ul li {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  padding: 5px;
  font-family: 'Quicksand', 'helvetica-neue', 'helvetica', sans-serif;
  font-size: 28px;
  color: #45aab8;
  font-weight: 400;
  margin-bottom: 20px;
  text-align: center;
  line-height: 1.5;
}
@media (min-width: 992px) {
  header nav ul li {
    float: left;
    width: 25%;
  }
}
header nav ul li a {
  height: 100%;
  width: 100%;
  display: block;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}
/*Content*/
.content-block {
  margin-left: -15px;
  margin-right: -15px;
  min-height: 700px;
  height: auto;
  padding: 40px;
}
.content-block:before,
.content-block:after {
  content: " ";
  display: table;
}
.content-block:after {
  clear: both;
}
.content-block:before,
.content-block:after {
  content: " ";
  display: table;
}
.content-block:after {
  clear: both;
}
.content-copy {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.project-block {
  padding: 40px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 992px) {
  .project-block {
    float: left;
    width: 50%;
  }
}
.project-block h2 {
  font-family: 'Quicksand', 'helvetica-neue', 'helvetica', sans-serif;
  font-size: 28px;
  color: #45aab8;
  font-weight: 400;
  margin-bottom: 20px;
}
.project-block .screengrab {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}
#il-block .screengrab {
  width: 30%;
  float: left;
  margin-right: 25px;
}
#il-block p {
  width: 60%;
  float: right;
  position: relative;
}
#resume h2 {
  font-family: 'Quicksand', 'helvetica-neue', 'helvetica', sans-serif;
  font-size: 28px;
  color: #45aab8;
  font-weight: 400;
  margin-bottom: 20px;
  border-bottom: 2px solid #45aab8;
}
#resume h3 {
  font-family: 'Quicksand', 'helvetica-neue', 'helvetica', sans-serif;
  font-size: 24px;
  color: #45aab8;
  font-weight: 400;
  margin: 10px 0;
}
#resume #skills {
  text-align: center;
}
#resume #skills li {
  display: inline-block;
  margin: 40px;
}
#meet,
#resume {
  background: #b0d1b2;
}
#portfolio,
#contact {
  background: #ffe545;
}
/**Contact Form*/
#contact-form {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  #contact-form {
    float: left;
    width: 100%;
  }
}
@media (min-width: 992px) {
  #contact-form {
    float: left;
    width: 66.66666667%;
  }
}
@media (min-width: 992px) {
  #contact-form {
    margin-left: 16.66666667%;
  }
}
#contact-form input,
#contact-form select,
#contact-form textarea,
#contact-form label {
  float: left;
  clear: both;
}
#contact-form input,
#contact-form select,
#contact-form textarea {
  outline: 0px !important;
  -webkit-appearance: none;
  border: none;
  width: 100%;
  height: 35px;
  float: left;
  clear: both;
  margin-bottom: 20px;
  padding: 20px;
}
#contact-form input:focus,
#contact-form select:focus,
#contact-form textarea:focus {
  border: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  font-size: 24px;
  outline: 0px !important;
  -webkit-appearance: none;
}
#contact-form textarea {
  height: 150px;
  resize: none;
}
#contact-form label {
  display: block;
  margin-bottom: 10px;
}
#contact-form .required {
  font-weight: bold;
  color: #ed834e;
}
#contact-form #submit-button {
  width: auto;
  height: auto;
  font-size: 20px;
  padding: 20px;
  cursor: pointer;
  color: #faf4b1;
  border: none;
  display: block;
  float: left;
  background-color: #45aab8;
}
#contact-form #submit-button:hover {
  background-color: #b0d1b2;
}
#contact-form #submit-button:active {
  position: relative;
  top: 1px;
}
#contact-form #loading {
  width: 32px;
  height: 32px;
  background-image: url(../img/loading.gif);
  display: block;
  position: absolute;
  right: 130px;
  bottom: 16px;
  display: none;
}
#errors {
  border: solid 1px #E58E8E;
  padding: 10px;
  margin: 25px 0px;
  display: block;
  width: 437px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background: #ffe6e6 url(../img/cancel_48.png) no-repeat 405px center;
  display: none;
}
#errors li {
  padding: 2px;
  list-style: none;
}
#errors li:before {
  content: ' - ';
}
#errors #info {
  font-weight: bold;
}
#errors #info:before {
  content: '';
}
#success {
  border: solid 1px #83D186;
  padding: 25px 10px;
  margin: 25px 0px;
  display: block;
  width: 437px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background: #d3edd3 url(../img/accepted_48.png) no-repeat 405px center;
  font-weight: bold;
  display: none;
}
#errors.visible,
#success.visible {
  display: block;
}
#req-field-desc {
  font-style: italic;
}
/* Remove box shadow firefox, chrome and opera put around required fields. It looks rubbish. */
input:required,
textarea:required {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}
/* Normalize placeholder styles */
/* chrome, safari */
::-webkit-input-placeholder {
  color: #CCC;
  font-style: italic;
}
/* mozilla */
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #CCC;
  font-style: italic;
}
/* ie (faux placeholder) */
input.placeholder-text,
textarea.placeholder-text {
  color: #CCC;
  font-style: italic;
}
@media (max-width: 1199px) {
  header .logo {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@media (max-width: 991px) {
  header .logo {
    margin-top: 25px;
  }
  header .logo .fname,
  header .logo .lname {
    width: 100%;
    float: left;
    text-align: center;
  }
  header nav {
    display: none;
    background: #faf4b1;
    margin-top: 83px;
  }
  header nav ul li {
    margin-bottom: 0;
    padding: 0;
  }
  .project-block {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .content-block,
  .project-block {
    text-align: center;
  }
  #contact-form #submit-button {
    width: 100%;
  }
  .section-headline i {
    display: none !important;
  }
}
