@import "variables.less";

.body-1 {
	font-family: @primary-font, 'helvetica-neue', 'helvetica', sans-serif;
	font-size: @body-fontsize;
	color: @black;
}

.body-2 {
	font-family: @primary-font, 'helvetica-neue', 'helvetica', sans-serif;
	font-size: @secondary-body-fontsize;
	color: @black;
}

.headline-1 {
	font-family: @secondary-font, cursive;
	font-size: @headline1-fontsize;
	color: @true-white;
	text-shadow: 2px 2px 0px @black;
}

.white-blue {
	.headline-2 {
		font-family: @primary-font, 'helvetica-neue', 'helvetica', sans-serif;
		font-size: @headline2-fontsize;
		color: @bright-blue;
	}
}

.blue-white {
	.headline-2 {
		font-family: @primary-font, 'helvetica-neue', 'helvetica', sans-serif;
		font-size: @headline2-fontsize;
		color: @true-white;
	}
}

.headline-3  {
		font-family: @primary-font, 'helvetica-neue', 'helvetica', sans-serif;
		font-size: @headline3-fontsize;
		font-weight: 400;
		margin-bottom: @margin-standard;
}

.white-blue {
	.headline-3 {
		color: @bright-blue;
	}
}

.blue-white {
	.headline-3 {
		color: @true-white;
	}
}